# =========================================
# 🐍 BACKEND - Python
# =========================================
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# =========================================
# ⚙️ FRONTEND - Node / TypeScript
# =========================================
frontend/node_modules/
frontend/dist/

# =========================================
# 📊 Datos temporales o de prueba
# =========================================
backend/data/*.csv
backend/data/*.tmp
backend/data/*.json
FETCH_HEAD

# =========================================
# 🧰 Logs y archivos del sistema
# =========================================
*.log
.DS_Store
Thumbs.db

# =========================================
# 📦 Archivos de entorno o configuración local
# =========================================
.env
*.env